<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yo</title>
</head>
<body>
    <h1>Mi nombre es Alberto González</h1>
    <hr>
    <img src="{% static 'assets\img\Foto.jpg' %}" alt="Foto de cara" style="width: 100px">
    <hr>
    <h2>Sobre mí...</h2>
    <p>Me llamo Alberto, tengo 23 años y soy de Barranquilla, una ciudad costera de Colombia. Este año me gradué de ingeniería civil en la Universidad del Norte, fue un camino y aprendizaje muy significativo para mí, sin embargo, pensando en mí mismo y en lo que verdaderamente quería para mi futuro profesional, decidí romper el esquema y estudiar algo que verdaderamente entusiasmara a alguien que persigue la emoción como yo. Evocando en mi carrera, recordé lo bien que me fue programando en algoritmia y la lógica y creatividad que siempre me caracterizó, por eso cambié de rumbo hacia el mundo de las IT. Python en Coderhouse es el primer paso hacia lo que me entusiasma, y este blog decidí hacerlo referente a algo que me ha gustado toda la vida: las plantas! </p>
    <h3><a href="/app/home">Volver al inicio</a></h3>
</body>
</html>